<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/postrequest.js"></script>
    <script src="/js/getrequest.js"></script>
</head>
<body>
<div class="container">
    <div th:include="header/header :: header"></div>
    <h3 id="message" style="color: blue;background: antiquewhite;height: 50px;line-height: 50px;padding-left: 10px;"></h3>
    <form th:object="${student}" method="post" id="customerForm">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="id" id="idstudent" th:value="${student.id}">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="name" id="name" th:value="${student.name}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="old" id="old" th:value="${student.old}">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="classname" id="classname" th:value="${student.classname}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
<script src="/js/postrequest.js"></script>
</body>
</html>